<div class="fh5co-loader"></div>

<div id="page"> 
  {{page.content}}
</div>

<div id="fh5co-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          {% if copyright %}
              {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
          {% endif %} 
      </div>
    </div>
  </div>
</div>
<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>