<div class="fh5co-loader"></div>
<div id="page"> 
  {% set url = url('<current>') %}
  {% if 'user' in url|render|render %}

    <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url({{banner_image}});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t js-fullheight">
              <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                <h1><span>{{page['#title']}}</span></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  {% endif %}

  {{ page.content }}
</div>

<div id="fh5co-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% if copyright %}
              {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
          {% endif %} 
        </div>
      </div>
    </div>
  </div>
  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
  </div>

